# Python
__pycache__/
*.pyc
.venv/

# VS Code caches
.vscode/*.log

# OS
.DS_Store
.ds_rom

# Secrets
secrets.py
secrets_ccs811.py
secrets_ens160.py

# memory - vibing is not a crime!
.claude_mem_py

